<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="/static/source/netassistimg.png">

    <style>
    body {
      background-image: url('static/source/ybg.jpg');
      background-repeat:no-repeat;
      background-size:cover;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      width: 100%;
      padding: 10px;
      position: relative;
    }

    .header h2 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }

  </style>

    <title>Contact Us</title>

</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">

<div class="header">
        <a href="{{url_for('index')}}" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="/static/source/netassistimg.png" alt="NetAssist_LOGO" width="80px" height="80px">
        </a>
        <h2 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);"><u>CONTACT US</u></h2>
</div>

<br>

<p style="margin-left: 22%; margin-right: 20%;">Welcome to the netAssist TechSupport Community! We are here to assist with any technical issues, community feedback,<br>
     or questions you may have.</p>
<p style="margin-left: 22%; margin-right: 20%;">Reach out to us using the options below, and our team will respond shortly.</p>
<hr style="width: 50%; margin-left: 25%;">

<div style="margin-top: 50px;"></div>

<h6 style="margin-left: 30%;"><u>For troubleshooting, bug reporting, or help with our community tools and services</u>,</h6>

<br>

    <form action="/contact" method="POST">

<br>

        <h4 style="margin-left: 28%; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);">First Name ~</h4>
        <div class="row justify-content-center">
            <div class="col" style="max-width: 398px;">
              <input type="text" id="fname" name="fname" class="form-control form-control-lg" placeholder="Enter Name..." aria-label="Title" style="border: 1px solid #000; box-shadow: 2px 2px 5px rgba(0.2, 0.2, 0.2, 0.2);" required>
            </div>
        </div>
        
        <br>

        <h4 style="margin-left: 28%; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);">Email ~</h4>
        <div class="row justify-content-center">
            <div class="col" style="max-width: 398px;">
            <input type="text" id="email" name="email" class="form-control form-control-lg" placeholder="Enter Email..." aria-label="Description" style="border: 1px solid #000; box-shadow: 2px 2px 5px rgba(0.2, 0.2, 0.2, 0.2);" required>
            </div>
        </div>

        <br>

        <h4 style="margin-left: 28%; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);">Issue ~</h4>
        <div class="row justify-content-center">
            <div class="col" style="max-width: 398px;">
            <textarea type="text" id="issue" name="issue" class="form-control form-control-lg" placeholder="Enter Issue..." aria-label="Description" style="border: 1px solid #000; box-shadow: 2px 2px 5px rgba(0.2, 0.2, 0.2, 0.2);" required></textarea>
            </div>
        </div>

        <div style=" margin-top: 40px;"></div>

        <div class="d-grid gap-2 col-3 mx-auto">
            <button type="submit" class="btn btn-outline-dark btn-lg" style="box-shadow: 2px 2px 5px rgba(0.2, 0.2, 0.2, 0.2);">Submit Support Ticket ➔</button>
        </div>

      </form>
</div>

<br>

    <div class="d-grid gap-2 col-3 mx-auto">
        <form action="{{ url_for('user01') }}" method="GET">
        <button type="submit" class="btn btn-outline-dark btn-lg" style="box-shadow: 2px 2px 5px rgba(0.2, 0.2, 0.2, 0.2); margin-top: 1%; width: 400px; width: 100%;">Go Home ➔</button>
        </form>
    </div>

<br>


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="alert alert-{{category}}" role="alert" style="max-width: 378px; width: 100%;">{{ message }}</div>
      </div>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}


<div style="margin-top: 40px;"></div>

<h6 style="margin-left: 36%;"><u>Join us on social media for updates and announcements:</u></h6>

<div style="margin-left: 42.5%; margin-top: 3%;">
    <a href="{{url_for('user01')}}" class="d-inline-flex link-body-emphasis text-decoration-none">
    <i class="bi bi-instagram" style="color: #000; font-size: 35px;"></i>
    </a>
</div>
  
<div style="margin-left: 48.5%; margin-top: -3%;">
    <a href="{{url_for('user01')}}" class="d-inline-flex link-body-emphasis text-decoration-none">
    <i class="bi bi-twitter" style="color: #000; font-size: 35px;"></i>
    </a>
</div>
  
<div style="margin-left: 54.5%; margin-top: -3.2%;">
    <a href="{{url_for('user01')}}" class="d-inline-flex link-body-emphasis text-decoration-none">
    <i class="bi bi-facebook" style="color: #000; font-size: 35px;"></i>
    </a>
</div>
  
<div style="margin-top: 40px;"></div>

<h6 style="margin-left: 18%;"><b>We typically respond to support tickets and inquiries within 24 - 48 hours. For urgent issues, please phone [1-440-546-909] support.</b></h6>

<div style="margin-bottom: 2%;"></div>


</body>
</html>


