<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="/static/source/netassistimg.png">

    <style>
    body {
      background-color: #000;
      padding-top: 80px;
      line-height: 1.6;
    }

    .navbar {
      position: fixed;
      top: 0;
      width: 85%;
      background-color: #000000;
      padding: 10px 10px;
      z-index: 1000;
        }

    .navbar .nav-link {
      color: #ffc107;
      text-decoration: none;
      padding: 0 15px;
        }

    .sidebar {
      height: 320px;
      width: 150px;
      position: fixed;
      padding-top: 120px;
      padding-left: 15px;
      overflow-x: hidden;
      margin-top: 80px;
      }

    .sidebar a {
      display: block;
      color: #ffc107;
      padding: 12px;
      text-decoration: none;
      }

    html  {
      scroll-behavior: smooth;
      }

  </style>

    <title>TSC ~ TechSupport_Community</title>
    
    <form action="/user01" method="POST">

    <div class="container">
      <header class="navbar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" style="margin-left: -5px;">
        <div class="col-md-3">
          <a href="{{url_for('user01')}}" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="/static/source/netassist.jpeg" alt="NetAssist_LOGO" width="210" height="60">
          </a>
        </div>
  
        <ul class="nav col-12 col-md-auto justify-content-center mb-md-0">
          <li><a href="{{url_for('user01')}}" style="color:#ffc107; text-decoration: none;" class="nav-link px-4">HOME</a></li>
          <li><a href="#queries" style="color:#ffc107; text-decoration: none;" class="nav-link px-4">QUERIES</a></li>
          <li><a href="{{url_for('contact')}}" style="color:#ffc107; text-decoration: none;" class="nav-link px-4">CONTACT</a></li>
          <li><a href="{{url_for('faqs')}}" style="color:#ffc107; text-decoration: none;" class="nav-link px-4">FAQs</a></li>
          <li><a href="{{url_for('about')}}" style="color:#ffc107; text-decoration: none;" class="nav-link px-4">ABOUT</a></li>
        </ul>


        <form class="col-12 mb-2 mb-lg-0 me-lg-2" role="search">
            <input type="text" class="form-control" placeholder="Inspect..." aria-label="Search" style="width: 255px;">
        </form>
  
          <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/static/source/pf.jpeg" alt="Profile" style ="width: 40px; height: 40px; border-radius: 50%;"> 
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="{{url_for('postquery')}}">Raise Query...</a></li>
              <li><a class="dropdown-item" href="{{url_for('queriesraised')}}">Queries Raised</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{url_for('logout')}}">Sign out</a></li>
            </ul>
          </div>

      </header>
    </div>
    </form>
</head>

  <div class="sidebar">
    <a href="{{url_for('notifications')}}"><i class="fa fa-bell"></i> Notifications</a>
    <a href="{{url_for('updates')}}" style="padding-left: 27px;"><i class="bi bi-envelope-arrow-up"></i> Updates</a>
    <a href="{{url_for('account')}}" style="padding-left: 26px;"><i class="bi bi-person-circle"></i> Account</a>
    <a href="{{url_for('help')}}" style="padding-left: 26px; position: fixed; bottom: 50px; left: 38px; font-size: 35px;"><i class="bi bi-question-diamond"></i></a>
  </div>

<div style="margin-top: 55px;"></div>

<body>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="alert alert-{{category}}" role="alert" style="width: 650px; text-align: center;"><b>{{ message }}</b></div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
   
  <div class="container col-xxl-8">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/source/user01banner.png" class="d-block mx-lg-auto img-fluid" alt="User_BANN" width="800" height="850" loading="lazy">
      </div>
      <div class="col-lg-6">
        <font color="#ffc107"><h1 class="display-5 fw-bold text--bs-light-text-emphasis lh-1 mb-3">Anything Exciting Going on ?</h1></font>
        <font color="white"><p class="lead">A lot has happened since your last visit! Enjoy new functionality, improved navigation & support options and an optimized layout for easier access to all your favorite features.
                                            Commence tackling inquiries now !
        </p></font>
        
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="#queries" style="text-decoration: none;">
          <button type="button" class="btn btn-outline-warning btn-lg px-4 me-md-2">Assist with Queries ➔</button>
          </a>
          </div>
      </div>
    </div>
    </div>

<div style="margin-bottom: 50px;">
    <div class="d-flex align-items-center justify-content-center justify-content-md-between py-1 mb-2 border-bottom" style="width: 50%;  margin: -20px auto 0 auto;">
    </div>
</div>

<div id="queries">

    <div class="alert alert-light" role="alert" style="width: 35%; height: 74px; padding: 20px; margin: 0 auto; text-align: center;">
      <h4 style="margin-right: 10px; color: #ffc107;"><b>Start Sharing Insights !</b></h4>
    </div>

<div style=" margin-top: 100px;">
<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" style="width: 450px; margin-left: 20%;">
      <div class="toast-header">
        <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill="#FFD966"></rect></svg>
        <strong class="me-auto">Mohamed Aziz Tousli</strong>
        <button type="button" class="btn"><i class="bi bi-eye-fill"></i></button>
        <button type="button" class="btn"><i class="bi bi-reply-fill"></i></button>
        <small>1 week ago </small>
      </div>
      <div class="toast-body"><b>Spark 3.0 Cannot write non-nullable data to iceberg</b>
        <br>
        <small>I have an avro file which has a field called timeStamp which is a mandatory field without any default value. Which means there is no chance to get this field as null.</small>
      </div>
</div>
</div>   


<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" style="width: 450px; margin-left: 800px; margin-top: -190px;">
  <div class="toast-header">
      <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill="#614900"></rect></svg>
      <strong class="me-auto">mplungjan</strong>
      <button type="button" class="btn"><i class="bi bi-eye-fill"></i></button>
      <button type="button" class="btn"><i class="bi bi-reply-fill"></i></button>
      <small>2 weeks ago</small>
    </div>
  <div class="toast-body">
      <b>es6 module loaded through url cannot access "useState" as it is undefined</b>
      <br>
      <small>I am building a React library using webpack, and the library builds correctly into an es6 module. We are then trying to host this module on a CDN so we can import it through a url instead of node_modules.
        We then import it like this, and I get the correct component..</small>
  </div>
</div>


<div style=" margin-top: 40px;">
  <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" style="width: 450px; margin-left: 20%;">
        <div class="toast-header">
          <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill="#9F8960"></rect></svg>
          <strong class="me-auto">user1589188</strong>
          <button type="button" class="btn"><i class="bi bi-eye-fill"></i></button>
          <button type="button" class="btn"><i class="bi bi-reply-fill"></i></button>
          <small>3 days ago </small>
        </div>
        <div class="toast-body"><b>Getting information about Dataflow worker crashes</b>
          <br>
          <small>We have a streaming Dataflow pipeline that reads from Kafka developed with the Beam Java SDK using Dataflow Runner v2.
            The current version of the pipeline scales down to a single worker, which is great from a cost perspective.
            However it seems that the single worker crashes about every hour. Unfortunately we currently only see very indirect signs when this happens.
            Memory utilization, throughput go to zero. Backlog spikes and the recovers as the new worker(s) are launched</small>
          </div>
</div>
</div>  


<div style=" margin-top: 40px;">
  <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" style="width: 450px; margin-left: 800px; margin-top: -265px;">
        <div class="toast-header">
          <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill="#C0FF00"></rect></svg>
          <strong class="me-auto">Dou Xu-MSFT</strong>
          <button type="button" class="btn"><i class="bi bi-eye-fill"></i></button>
          <button type="button" class="btn"><i class="bi bi-reply-fill"></i></button>
          <small>6 days ago </small>
        </div>
        <div class="toast-body"><b>Spring Integration webflux fails for every other calls.</b>
          <br>
          <small>I have created the following pipeline which is exposing and endpoint to accept POST request and from that it is calling another rest service GET method and respond back. But for some reason which I cannot understand I get bad request for every second calls.
            I also created a rest controller to reply to the GET request from this pipeline to test it:
          </small>
        </div>
</div>
</div> 


<div style=" margin-top: 60px;">
  <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" style="width: 450px; margin-left: 20%;">
        <div class="toast-header">
          <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill="#007EFF"></rect></svg>
          <strong class="me-auto">Alex Pappas</strong>
          <button type="button" class="btn"><i class="bi bi-eye-fill"></i></button>
          <button type="button" class="btn"><i class="bi bi-reply-fill"></i></button>
          <small>8 weeks ago </small>
        </div>
        <div class="toast-body"><b>How to center items in carousel slider?</b>
          <br>
          <small>I am currently working on a country flag slider with around 14 different country flags.
            My desired animation is that there is a container/card showing only 3 countries on the card, where it slides after 2 seconds: 
            Country on the left moves out of the container Country on the middle moves to the left Country on the right goes to the middle and scales a little bit (so it pops a bit more out) while moving to it.</small>
          </div>
</div>
</div>

<div style=" margin-top: 60px;">
  <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" style="width: 450px; margin-left: 800px; margin-top: -300px;">
        <div class="toast-header">
          <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"><rect width="100%" height="100%" fill="#0e0e55"></rect></svg>
          <strong class="me-auto">serenity8468</strong>
          <button type="button" class="btn"><i class="bi bi-eye-fill"></i></button>
          <button type="button" class="btn"><i class="bi bi-reply-fill"></i></button>
          <small>8 weeks ago </small>
        </div>
        <div class="toast-body"><b>Separate model structs and REST api representations</b>
          <br>
          <small>For example: I have a User struct which is being used with the database and other internal business logic.As you can see, there are Password and LastIP properties in the struct. I do not want to expose those via the REST api. But this is just an example. There might be other things which I don't want to expose later on. And I don't want to use json:"-" either. So I thought to introduce another struct which is only for REST api:</small>
          </div>
</div>
</div>
</div>

<div style=" margin-top: 60px;">

<a href="{{url_for('allqueries')}}" style="text-decoration: none;  margin-left: 45%;" >
  <button type="button" class="btn btn-outline-warning me-2 btn-lg">View all Queries 🠇</button>
</a>

</div>

<div style="margin-top: 70px;">
  <div class="d-flex align-items-center justify-content-center justify-content-md-between py-1 mb-2 border-bottom" style="width: 50%;  margin: -40px auto 0 auto;">
  </div>
</div>

<div style="margin-top: 50px; margin-left: 17%; color: #ffc107;">
<h4>Searching for more?  Check out the complete list of <a href="{{url_for('allqueries')}}" class="link-underline link-underline-opacity-0" style="color: #c1c1c7;">queries</a>
  or browse discussions.</a> Lend a hand<br>
  <div style=" margin-left: 30.5%; color: #ffc107;">with unanswered queries.</div></a></h4>
</div>


<div style="margin-top: 78px;">
  <div class="d-flex align-items-center justify-content-center justify-content-md-between py-1 mb-2 border-bottom" style="width: 50%;  margin: -40px auto 0 auto;">
  </div>
</div>

<div style="margin-top: 15px; margin-left: 25%;">
<a href="{{url_for('index')}}" class="d-inline-flex link-body-emphasis text-decoration-none">
  <img src="/static/source/netassistimg.png" alt="NetAssist_LOGO" width="38px" height="38px">
</a>
</div>

<div style="margin-left: 28%; margin-top: -2.5%;">
  <p class="col-md-4 mb-0 text-body-secondary" style="color: #ffc107 !important;">&copy; 2024 NetAssist, India</p>
</div>

<div style="margin-left: 65%; margin-top: -1.7%;">
  <a href="{{url_for('index')}}" class="d-inline-flex link-body-emphasis text-decoration-none">
  <i class="bi bi-instagram" style="color: #ffc107; font-size: 22px;"></i>
  </a>
</div>

<div style="margin-left: 68%; margin-top: -2.1%;">
  <a href="{{url_for('index')}}" class="d-inline-flex link-body-emphasis text-decoration-none">
  <i class="bi bi-twitter" style="color: #ffc107; font-size: 22px;"></i>
  </a>
</div>

<div style="margin-left: 71%; margin-top: -2.2%;">
  <a href="{{url_for('index')}}" class="d-inline-flex link-body-emphasis text-decoration-none">
  <i class="bi bi-facebook" style="color: #ffc107; font-size: 22px;"></i>
  </a>
</div>

<div style="margin-bottom: 2%;"></div>

</body>
</html>
